body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    background-image: url(background.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    margin: 0px 166px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
}

.basket {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 13px;
}

.num {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.phone-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
}

.nav-item:hover {
    color: #d81d1d;
    transition: all 0.5s linear;
}

.num:hover {
    color: #d81d1d;
    transition: all 0.5s linear;
}

.button:hover {
    background-color: #bf0000;
    transition: all 0.3s linear;
}

.header-content {
    font-family: Tinos, serial;
    font-size: 40px;
    font-weight: 400;
    color: #D67E35;
    text-align: center;
    width: 450px;
    padding-left: 10px;
    margin-top: 230px;
    position: relative;
    left: 0;
}

.header-content__subtitle {
    font-family: Tinos, serial;
    font-size: 70px;
    font-weight: 400;
}

.header-line {
    justify-content:space-between;
    width: 80%;
}

.nav {
    padding-left: 160px;
}

.header-content__suptitle {
    padding-top: 10px;
    padding-bottom: 22px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-content::after {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 61px;
    background-color: #fff;
    top: 150px;
    left: 60px;
}

.header-content::before {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 61px;
    background-color: #fff;
    top: 150px;
    right: 60px
}

.header-content__button {
    margin: 0 auto;
}

.header-content__button-item {
    border-radius: 5px;
    font-family: Open Sans, serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #FF7400;
    color: #fff;
    padding: 14px 28px;
    text-decoration: none;
    transition: all 0.8s ease;
}

.header-content__button-item:hover {
    background-color: #bf0000;
    color: #000;
}

.frame__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frame__content-item {
    margin-top: -120px;
    background-color: #fff;
    width:349px;
    box-shadow: 10px 10px 40px 20px #0000001A;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame__content-item_pic {
    padding: 35px 110px 0;
}

.frame__content-item {
    text-align: center;
}

.frame__content-description {
    text-align: center;
    padding: 0 20px 15px;
}

.frame__content-item_main-title {
    display: flex;
    margin-bottom: -25px;
}

.frame__content-item_main-title-first-element {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color: #2C2C2C;
    padding-right: 6px;
}

.frame__content-item_main-title-second-element {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color: #BC9060
}

.frame__content-description {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color:#656363;
}
