body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    background-image: url(background.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    margin: 0px 166px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
}

.basket {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 13px;
}

.num {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.phone-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    border-radius: 5px;
}

.nav-item:hover {
    color: #d81d1d;
    transition: all 0.5s linear;
}

.num:hover {
    color: #d81d1d;
    transition: all 0.5s linear;
}

.button:hover {
    background-color: #bf0000;
    transition: all 0.3s linear;
    color: black;
}

.header-content {
    font-family: Tinos, serial;
    font-size: 40px;
    font-weight: 400;
    color: #D67E35;
    text-align: center;
    width: 450px;
    padding-left: 10px;
    margin-top: 230px;
    position: relative;
    left: 100px;
}

.header-content__subtitle {
    font-family: Tinos, serial;
    font-size: 70px;
    font-weight: 400;
}

.header-line {
    justify-content:space-between;
    width: 80%;
}

.nav {
    padding-left: 160px;
}

.header-content__suptitle {
    padding-top: 10px;
    padding-bottom: 22px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-content::after {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 61px;
    background-color: #fff;
    top: 150px;
    left: 60px;
}

.header-content::before {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 61px;
    background-color: #fff;
    top: 150px;
    right: 60px
}

.header-content__button {
    margin: 0 auto;
}

.header-content__button-item {
    border-radius: 5px;
    font-family: Open Sans, serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #FF7400;
    color: #fff;
    padding: 14px 28px;
    text-decoration: none;
    transition: all 0.8s ease;
}

.header-content__button-item:hover {
    background-color: #bf0000;
    color: #000;
}

.frame__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frame__content-item {
    margin-top: -120px;
    background-color: #fff;
    width:349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    transition: all 1.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame__content-item:hover{
    transform: scale(102%);
    box-shadow: 10px 10px 40px 20px rgba(225, 31, 9, 0.5);
}

.frame__content-item_pic {
    padding: 35px 110px 0;
}

.frame__content-item {
    text-align: center;
}

.frame__content-description {
    text-align: center;
    padding: 0 20px 15px;
}

.frame__content-item_main-title {
    display: flex;
    margin-bottom: -25px;
}

.frame__content-item_main-title-first-element,
.description__first-element {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color: #2C2C2C;
    padding-right: 6px;
}

.frame__content-item_main-title-second-element,
.description__second-element {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color: #BC9060;
}

.frame__content-description,
.description_second-title {
    font-family: Tinos, serial;
    font-size: 26px;
    font-weight: 400;
    color:#656363;
}

.block_3 {
    box-sizing: border-box;
    display: flex;
    height: 700px;
    border: 1px solid black;
    margin-top: 150px;
}

.description__main-title,
.description_second-title {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    width: 550px;
}

.description__first-element,
.description__second-element {
    font-size: 56px;
}

.description__second-element {
    color: #D67E34;
    padding-left: 6px;
}

.description_second-title {
text-align: center;
font-size: 22px;
margin-top: -35px;
}

.description-info {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.description-content,
.description-info__first-title,
.description-info__second-title {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    line-height: 1.2; 
}

.description-info__first-title {
    font-size: 40px;
    color: #BC9060;
}

.description-info__second-title {
    font-size: 20px;
    color: black;
    margin-right: 35px;
    margin-left: 35px;
}

.description-info__first-title,
.description-info__second-title {
    display: block;
    text-align: center;
}

.block-img {
    display: inline-block;
    position: relative;
}

.block-img__img-1 {
    position: absolute;
    justify-content: start;
    margin-top: -57px;
    margin-left: 25px;
    z-index: 3;
    box-shadow: 35px 0px 20px rgba(103, 103, 103, 0.5), 0px 15px 15px 2px rgba(103, 103, 103, 0.5),  0px -15px 15px rgba(103, 103, 103, 0.5);
    transition: all 1s ease;
}

.block-img__img-2 {
    position: absolute;
    z-index: 1;
    margin-top: 86px;
    margin-left: 183px;
    box-shadow: 35px 0px 20px rgba(103, 103, 103, 0.5), 0px 15px 15px 2px rgba(103, 103, 103, 0.5),  0px -15px 15px rgba(103, 103, 103, 0.5);
    transition: all 1s ease;
}

.block-img__img-3 {
    position: absolute;
    z-index: 2;
    margin-top: 382px;
    margin-left: 365px;
    box-shadow: 35px 0px 20px rgba(103, 103, 103, 0.5), 0px 15px 15px 2px rgba(103, 103, 103, 0.5),  0px -15px 15px rgba(103, 103, 103, 0.5);
    transition: all 1s ease;
}

.block-img__img-1:hover {
    transform: scale (105%);
    box-shadow: 10px 10px 40px 20px rgba(225, 31, 9, 0.5);
}

.block-img__img-2:hover {
    transform: scale (105%);
    box-shadow: 10px 10px 40px 20px rgba(225, 31, 9, 0.5);
}

.block-img__img-3:hover {
    transform: scale (105%);
    box-shadow: 10px 10px 40px 20px rgba(225, 31, 9, 0.5);
}
